---
import Container from '@/components/Container.astro';
import { getSiteConfig } from '@/lib/config';

const pathname = Astro.url.pathname;

const isHomePage = pathname === '/';
const isWritingPage = pathname.startsWith('/writing');

const config = getSiteConfig();
---
{config.elements.header && (
  <Container
    as="header"
    class="w-full max-w-full flex justify-center items-center"
  >
    <div
      class="w-max fixed top-0 mt-5 bg-muted-foreground/40 backdrop-blur-3xl border border-border rounded-full p-1"
    >
      <nav class="flex items-center">
        <ul class="flex items-center gap-1">
          <li>
            <a
              href="/"
              class:list={[
                'font-medium transition-colors block px-5 py-2',
                'hover:text-headings',
                isHomePage && 'text-headings bg-muted-foreground/40 rounded-full',
              ]}>Home</a
            >
          </li>
          {config.sections.writing && (
            <li>
              <a
                href="/writing"
                class:list={[
                  'font-medium transition-colors block px-5 py-2',
                  'hover:text-headings',
                  isWritingPage &&
                    'text-headings bg-muted-foreground/40 rounded-full',
                ]}>Writing</a
              >
            </li>
          )}
        </ul>
      </nav>
    </div>
  </Container>
)}