---
import { Image } from 'astro:assets';
import { getImage } from 'astro:assets';
import { DEFAULT_CONFIGURATION } from '@/lib/constants'

interface Props {
  class?: string;
}
const { class: className } = Astro.props;

const image = await getImage({ src: DEFAULT_CONFIGURATION.author.avatar, format: 'avif'});
---

<div class:list={[
  'relative rounded-full shrink-0 overflow-hidden w-12 h-12',
  className,
]}>
  <Image
    loading="eager"
    src={image.src}
    alt={DEFAULT_CONFIGURATION.author.name}
    width={52}
    height={52}
    class="object-cover"
  />
</div>