---
import type { CollectionEntry } from 'astro:content';
import { formatDate } from '@/lib/utils';
import { render } from 'astro:content';
interface Props {
  entry: CollectionEntry<'posts'>;
}

const { entry } = Astro.props;
const { remarkPluginFrontmatter } = await render(entry);
---

<li class="py-2">
  <div class="flex gap-5">
    <div class="relative min-w-22 shrink-0">
      <span class="text-muted-foreground text-sm">{formatDate(entry.data.date)}</span>
    </div>
    <a href={`/writing/${entry.id}/`} class="flex flex-col gap-3">
      <div class="flex flex-col">
        <span class="text-headings font-medium">{entry.data.title}</span>
        <span class="text-muted-foreground">{remarkPluginFrontmatter.minutesRead}</span>
      </div>
    </a>
  </div>
</li>