---
import { render, type CollectionEntry } from 'astro:content';

interface Props {
  entry: CollectionEntry<'talks'>;
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<li class="py-0.5">
  <div class="flex gap-5">
    <div class="relative min-w-28 shrink-0">
      <span class="text-muted-foreground text-sm">{entry.data.year}</span>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex flex-col">
        <span class="text-headings font-medium">{entry.data.title}</span>
        <span class="text-foreground text-sm">{entry.data.event}, {entry.data.location}</span>
      </div>
      <div class="prose dark:prose-invert prose-sm">
        <Content />
      </div>
    </div>
  </div>
</li>
